* {
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', Courier, monospace
}

*::before {
    color: gray
}

.App {
    margin: 10px auto;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    height: 95vh;
}

#location {
    position: absolute;
    top: 10px;
    right: 50%;
    transform:  translateX(50%);
}

.day {
    /* background-color: pink; */
    position: relative;
    height: 400px;
    width: 300px;
    margin: auto 30px;
}

@media screen and (max-width: 400px) {
    .App {
        margin-top: 40px;
    }
    .day {
        margin: auto;
    }
}

.day::after {
    position: absolute;
    font-weight: lighter;
    top: 0px;
    right: -40px;
    content: "";
    height: 400px;
    width: 112px;
    font-size: 450px;
    line-height: .72;
    transform: scale(.7, 1);
    background: url('./assets/cbracket_right.svg') no-repeat;
    background-size: contain;
}

.day::before {
    position: absolute;
    color: black;
    top: 0px;
    left: -40px;
    content: "";
    height: 400px;
    width: 112px;
    font-size: 450px;
    line-height: .72;
    transform: scale(.7, 1);
    background: url('./assets/cbracket_left.svg') no-repeat;
    background-size: contain;
}

span.yellow {
    color: gold;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

span.blue {
    color: blue;
}

span.lightblue {
    color: lightblue;
}

#maxTemp {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 70px;
}

span.subtext {
    font-size: 12px;
    color: gray;
}

/* #maxTemp::before {
    position: absolute;
    right: 80px;
    top: 52px;
    font-size: 12px;
    content: "\"maxTemp\":";
} */

#minTemp {
    position: absolute;
    right: 30px;
    top: 95px;
    font-size: 50px;
}

/* #minTemp::before {
    position: absolute;
    right: 60px;
    top: 35px;
    font-size: 12px;
    content: "\"minTemp\":";
} */

#wind {
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-size: 24px;
}

/* #wind::before {
    position: absolute;
    right: 70px;
    bottom: 5px;
    font-size: 12px;
    content: "\"wind\":";
} */

#windDirection {
    font-size: 40px;
}

#humidity {
    position: absolute;
    left: 30px;
    bottom: 40px;
    font-size: 24px;
}

/* #humidity::before {
    position: absolute;
    left: 42px;
    bottom: 5px;
    font-size: 12px;
    content: ":\"humidity\"";
} */

#pic {
    position: absolute;
    left: 30px;
    top: 140px;
    font-size: 24px;
}

#date {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}